# Kredensial Google SSO
GOOGLE_CLIENT_ID="ISI_CLIENT_ID_ANDA_DISINI"
GOOGLE_CLIENT_SECRET="ISI_CLIENT_SECRET_ANDA_DISINI"
GOOGLE_REDIRECT_URL="http://localhost/pemrogramanweb/keamanan_aplikasi/callback_sso.php"

# Kredensial SMTP Brevo / Gmail / Mailtrap
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_UNAME="email_anda@gmail.com"
SMTP_PASS="password_aplikasi_atau_app_password_anda"
